<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jpnstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pages.RecordsPage"></activity>
        <activity android:name=".Pages.FlashCardPage"></activity>
        <activity android:name=".Pages.ModeMenu" />
        <activity
            android:name=".Pages.HomePage"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pages.OrdealPage"></activity>
        <activity
            android:name=".Pages.SettingsPage"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".Pages.AddCardPage"></activity>
        <activity android:name=".Pages.SearchPage"></activity>
    </application>

</manifest>